<!DOCTYPE html>
<html>
    <head>
        <title>HTML Skelton for the main page</title>
        <link rel="stylesheet" href="mainpage.css">
    </head>
    <body>
        <div class="blockOne">
            <img src="placeHolder.jpg" alt="Background Image" class="background">
            <div id="header">
                <div id="nav">
                    <ul>
                        <li><a href="" style="text-decoration: none">Ask an Expert</a></li>
                        <li><a href="" style="text-decoration: none">Login</a></li>
                        <li><a href="" style="text-decoration: none">Sign up</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id="conatiner">
                <input id="searchBar" type="text" placeholder="Search for Publications, Authors, Questions"/>
            </div>
        </div>
        <div id="content">
            <img src="PictureOne.jpg" alt="PlaceholderOne" class="images">
            <img src="PictureTwo.jpg" alt="PlaceholderTwo" class="images">
            <img src="PictureThree.jpg" alt="PlaceholderThree" class="images">
            <img src="PictureFour.jpg" alt="PlaceholderFour" class="images">
        </div>
    </body>
</html>