<div>
    <div class="min-vh-100 center">
      <div class="row text-black">
          <div class="col-lg-6 col-md-8 mx-auto text-center form p-4">
              <h1 class="display-4 py-1 text-truncate">AMR</h1>
              <h4 class="p-2">"Removing the barrier between academics and the public"</h4>
              <div class="p-2">
                  <form class="justify-content-center">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-secondary btn-lg btn-block">Log in</button>
                  </form>
              </div>
              <div class="icons">
                <h6 class="horizontal-line">or</h6>
                <h1>Hello</h1>
              </div>
          </div>
      </div>
    </div>
</div>